body{
	background-color:#eeeeee;
}

.container{
	width:1170px;
	margin :10px auto;
	
		
}
.container .header{
	
	
}
.container .header h1{
	text-align:center;
}
.container .login{
		margin :250px auto;
			text-align:center;
		
		
	
	
}
.container form{
	margin : 2px 3px;
	border :4px solid black;
	display:inline-block;
	padding:16px;
	text-align:center;
	
	
}
.container form input{
	margin:5px;
	padding:8px;
}
.container form label{
		padding:8px;
	
	
}

